:root {
  --green-color:#28a745;
  --gray-color:#b6b6b6;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
  box-sizing: border-box;
  width:100%;
  height:100vh;
}

.container {
  align-items: center;
  margin-top:1rem;
  display: flex;
  justify-content: center;
  flex-direction:column;
  /* height: 100vh; */
  width: 100%;
}

.ranking-user-item::before,
.question-item-text::before {
    content:'';
    width:1px;
    height:100%;
    background-color:#b6b6b6;
    position: absolute;
    left: -10px;
}

.home-tabs {
  align-self:flex-start;
  margin-top:20px;
  border:1px solid var(--gray-color);
}

.nav-tabs > a {
  border:1px solid var(--gray-color);
  color:#000;
}


.progress {
  height:30px;
}

.navbar {
  border-bottom:3px solid #28a745;
  color:#000;
  padding:0;
}

.nav-tabs a.nav-link {
  width:50%;
  text-align:center;
  border:1px solid #b6b6b6;
}

.nav-tabs a.nav-link.active {
  background:#b6b6b6;
  color:var(--green-color);
}

.horizontal-line {
  position:relative;
  color: var(--gray-color);
}

.horizontal-line::after {
  content: '';
  width: 45%;
  height: 2px;
  background:var(--gray-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.hor-line {
  background-color: var(--gray-color);
  height: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
  border:none;
}


.horizontal-line::before {
  content: '';
  width: 45%;
  height: 2px;
  background:var(--gray-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}



.main {
  width:100%;
}

.dropdown-icon {
  float:right;
}

.dropdown-container {
  width: 100%;
  margin: 0 auto;
  cursor:pointer;
}

.dropdown-header {
  margin-bottom: 0.8em;
  /* padding: 0.4em 2em 0.4em 1em; */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 1.3rem;
  /* color: #3faffa; */
}

.dropdown-list-container {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  padding-left: 1em;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 500;
}
.dropdown-list:first-child {
    padding-top: 0.8em;
  }

.dropdown-list-item {
  list-style: none;
  margin-bottom: 0.8em;
}

.dropdown-list-item:hover {
  color: #b6b6b6;
  cursor:pointer;
}


.nav-container{
  width:100%;
  margin: 0 auto;
}

.hr {
  border-bottom: 3px solid green;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  position:relative;
  bottom: 9px;
}

.nav-container > ul {
	position: relative;
	z-index: 1;
	white-space: nowrap;
  margin: auto;
}

.nav-container > ul li {
	position: relative;
	display: inline-block;
  padding: 0 .6em;
	color: inherit;
	margin: 0 -7px;
} 

.nav-container ul li a {
  color:#000;
  text-decoration: none;
}

.nav-container ul li a .trapezoid,
.user-info {
  color:#000;
  text-decoration: none;
  display:block;
  min-width:135px;
  height:50px;
}


.text:hover + a,
.nav-container ul li a.active > .trapezoid,
.nav-container ul li a:hover:not(.active) > .trapezoid
 {
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	background: green;
	box-shadow: 0 0 hsla(0,0%,100%,.5) inset;
	transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}

.nav-container ul li a.active > .text,
.text:hover {
  color:#fff;
  cursor:pointer;
}



.text , .user-info__text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index:1;
  text-align: center;
}

.badge-success {
  width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.trophy {
  position: absolute;
    top: -21px;
    left: -6px;
    width: 0;
    height: 0;
    border-top: 50px solid #696969;
    border-right: 50px solid transparent;
}

.trophy svg {
  position: absolute;
  top: -40px;
  left: 5px;
}

.card:last-child {
  margin-bottom:1rem;
}



  




